main{
    background-color: #D9D9D9;
    width: 100%;
    height:fit-content;
  

}

.myList{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}

.myList > p{
    font-size: 2rem;
}




.results{
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    margin-top: 2rem;
    

}

#resultado {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem; /* Espaço entre os cards */
}

.nome-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}


a{
    text-decoration: none;
    color: #401D12;
}